.aside-ft
   h2 Подбор по параметрам
   form
      fieldset
         legend Марка
         ul
            li Ariston
            li Baxi
            li Protherm
            li Лемакс
      fieldset
         legend Цена
         ul
            li От
            li До
