.aside-ft {
    width: 100%;
    outline: 1px solid gold;

    &__title {
        font: 700 17px $font-condenced;
        color: $color-text-hard;
        text-transform: uppercase;
        margin-top: 56px;
        margin-bottom: 38px;
    }

    &__set {
        margin: 0;
        border: none;
        padding: 0;
        &-cap {
            font: 700 17px $font-condenced;
            color: $color-text-hard;
        }
    }

    &__brand-list {
        list-style: none;
    }
    &__brand-item {
        font: 300 15px/22px $font-sans;
        color: $color-text-type;
        margin-left: 15px;
    }
    &__brand-label {
        position: relative;
        padding-left: 24px;
    }
    &__brand-input + &__brand-label {
        background: url("/img/checkbox.svg") no-repeat;
    }
    &__brand-input:hover + &__brand-label {
        background: url("/img/checkbox-act.svg") no-repeat;
    }
    &__brand-input:checked + &__brand-label {
        background-image: url("/img/checkbox-check.svg"), url("/img/checkbox-act.svg");
        background-repeat: no-repeat, no-repeat;
        background-position-x: 5px, 0;
        background-position-y: 1px, 0;
    }
    &__price {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
        font: 400 15px/22px $font-sans;
        color: $color-text-type;
        &-item {
            width: 140px;
        }
        &-input {
            width: 100%;
            height: 50px;
            border: 1px solid $color-line;
            border-radius: 3px;
            background-color: $color-bar;
            padding-left: 15px;
            &::placeholder {
                color: $color-text-secondary;
            }
        }
    }
    &__price-slider {
        width: 100%;
        height: 2px;
        background-color: $color-attention-neutral;
    }
}