.aside-ft
   h2.aside-ft__title Подбор по параметрам
   form.aside-ft__form
      fieldset.aside-ft__set
         legend.aside-ft__set-cap Марка
         ul.aside-ft__brand-list
            li.aside-ft__brand-item
               input(type="checkbox", name="brand", id="brand-ariston", class="visually-hidden aside-ft__brand-input")
               label(for="brand-ariston").aside-ft__brand-label Ariston
            li.aside-ft__brand-item
               input(type="checkbox", name="brand", id="brand-baxi", class="visually-hidden aside-ft__brand-input") 
               label(for="brand-baxi").aside-ft__brand-label Baxi
            li.aside-ft__brand-item
               input(type="checkbox", name="brand", id="brand-protherm", class="visually-hidden aside-ft__brand-input")  
               label(for="brand-protherm").aside-ft__brand-label Protherm
            li.aside-ft__brand-item
               input(type="checkbox", name="brand", id="brand-lemax", class="visually-hidden aside-ft__brand-input") 
               label(for="brand-lemax").aside-ft__brand-label Лемакс
      fieldset.aside-ft__set
         legend.aside-ft__set-cap Цена
         ul.aside-ft__price
            li.aside-ft__price-item 
               label От
               input(type="text", name="", placeholder="300").aside-ft__price-input
            li.aside-ft__price-item
               label До
               input(type="text", name="", placeholder="500").aside-ft__price-input
         div.aside-ft__price-slider
