$color-back-base: #fff;
$color-light: #fff;
$color-attention-warm: #ff8c00;
$color-attention-cold: #03598c;
$color-attention-cold-act: #3d9ad1;
$color-attention-neutral: #00ae68;
$color-attention-neutral-act: #60d6a7;
$color-attention-neutral-hard: #0e8c59;
$color-text-hard: #222222;
$color-text-type: #555555;
$color-text-secondary: #999999;
$color-line: #dedede;
$color-bar: #f8f8f8;
$color-error: #f44336;
$color-success: #64a8d1;


$size-content: 1350px;

$font-condenced: "Roboto Condensed", Arial, sans-serif;
