mixin cart-icon
   svg(class="cart-icon", width="22", height="30" viewBox="0 0 15 15",  xmlns="http://www.w3.org/2000/svg")
      path(stroke="#ff8c00", stroke-width="1", fill="none", d="M3 4h11l-1.1 5h-9L3 4l-.5-3H1", stroke-linecap="round", stroke-linejoin="round", stroke-miterlimit="10")
      circle(cx="5.5", cy="12.5", r="1.5", stroke="#ff8c00", fill="#fff")
      circle(cx="11.5", cy="12.5", r="1.5", stroke="#ff8c00", fill="#fff")