include ../../blocks/components/tickIcon/tickIcon.pug
include ../../blocks/components/loginIcon/loginIcon.pug
include ../../blocks/components/cartIcon/cartIcon.pug
include ../../blocks/components/cardCart/cardCart.pug
include ../../blocks/components/discountBadge/discountBadge.pug
include ../../blocks/components/available/available.pug




