section.site-desc
   h2.site-desc__title Котельное оборудование
   div.site-desc__text
      p.site-desc__pg Котлы и котельное оборудование подбираются при возведении и устройстве котельной в зависимости от вида котельной.
      p.site-desc__pg По типу размещения котельные могут быть стационарными и блочно-модульными. При устройстве стационарной котельной возводится здание с фундаментом, стенами и кровлей. Монтаж котлов и котельного оборудования производится на месте.
      p.site-desc__pg Блочно-модульные котельные находят все большее применение благодаря своим преимуществам. Блочно-модульные котельные поставляются в полной сборке: от здания котельной до всего комплекта оборудования. Их отличают быстрый ввод в эксплуатацию, высокий КПД, мобильность и широкие возможности размещения. Они могут быть отдельностоящими, пристроенными, встроенными, размещаться на крыше и в подвале.