.topbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 110px;
    padding: 0;
    &__logo {
        width: 315px;
    }

    &__search {
        display: flex;
        align-items: center;
        position: relative;
        &-field {
            display: block;
            width: 450px;
            height: 50px;
            padding-left: 20px;
            padding-right: 40px;
            font: 400 15px/22px $font-sans;
            color: $color-text-type;
            border: 1px solid $color-line;
            background-color: $color-bar;
            &::placeholder {
                color: $color-text-secondary;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -9px;
            right: 15px;
            width: 18px;
            height: 18px;
            background: url("/img/search.png") no-repeat;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
        padding: 0 15px;
    }

    &__phone {
        padding-top: 10px;
        &-label {
            font: 400 15px/15px $font-sans;
            color: $color-text-type;
            margin-bottom: 5px;
        }

        &-num {
            font: 700 24px/24px $font-condenced;
            text-decoration: none;
            color: $color-text-hard;
        }
    }

    &__person {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-icon {
            svg {
                width: 35px;
                height: 30px;
            }
        }
    }

    &-link {
        text-decoration: none;
        color: $color-text-type;
        text-transform: uppercase;
        font: 700 15px/22px $font-condenced;

        &:hover {
            color: $color-attention-warm;
        }
    }
}