section.contacts
    div.contacts__card.contacts__card--left
        h3.contacts__cap Связаться
        p.contacts__text Для связи с нами оставьте свои контактные данные. Наш менеджер позвонит вам в течение 20 минут и проконсультирует по любому интересующему вас вопросу.
        a.contacts__button Обратный звонок
    div.contacts__card.contacts__card--right
        h3.contacts__cap Подписаться на рассылку
        p.contacts__text В нашей рассылке новости о новых товарах, скидках, акциях, а также, интересные гайды, лекции и семинары от компании.
        a.contacts__button Подписаться