.range {
    &__scale {
        width: 100%;
        height: 2px;
        background-color: $color-line;
    }
    &__bar {
        position: relative;
        width: 47%;
        height: 2px;
        background-color: $color-attention-neutral;
    }
    &__control {
        position: absolute;
        @include blocksize(16px);
        background-color: $color-attention-neutral;
        border-radius: 3px;
        top: -8px;
        &--min {
            left: 0;
        }
        &--max {
            right: 0;
        }
    }
}