.content {
    display: flex;
    padding: 0;

    &__aside {
        display: flex;
        min-width: 314px;
        
    }

    &__main {
        flex-grow: 1;
        padding-left: 15px;
        padding-right: 15px;
    }
}