.content.container
   aside.content__aside
      include ../aside-ft/aside-ft.pug
   main.content__main
      include ../catalog/catalog.pug
      include ../site-desc/site-desc.pug
      include ../contacts/contacts.pug