section.store
      ul.store__list
         li.store__card
            div.store__picbox
               img(alt="котел", src="img/item-1.png").store__pic
            a(href="#").store__name-link Котел стальной Патриот 12,5 без дымохода
            +available()
            p.store__price 5990
            div.store__button
               +card-cart("#")
         li.store__card
            div.store__picbox
               img(alt="котел", src="img/item-2.png").store__pic
            a(href="#").store__name-link Котел стальной Патриот 12,5 без дымохода
            +available()
            p.store__price 3990
               span.store__price-original 5490
            div.store__button
               +card-cart("#")
            div.store__sale
               +discount-badge(30)
         li.store__card
            div.store__picbox
               img(alt="котел", src="img/item-3.png").store__pic
            a(href="#").store__name-link Котел стальной Патриот 12,5 без дымохода
            +available()
            p.store__price 3400
            div.store__button
               +card-cart("#")
         li.store__card
            div.store__picbox
               img(alt="котел", src="img/item-4.png").store__pic
            a(href="#").store__name-link Котел стальной Патриот 12,5 без дымохода
            +available()
            p.store__price 5990
            div.store__button
               +card-cart("#")
         li.store__card
            div.store__picbox
               img(alt="котел", src="img/item-5.png").store__pic
            a(href="#").store__name-link Котел стальной Патриот 12,5 без дымохода
            +available()
            p.store__price 5990
            div.store__button
               +card-cart("#")
         li.store__card
            div.store__picbox
               img(alt="котел", src="img/item-6.png").store__pic
            a(href="#").store__name-link Котел стальной Патриот 12,5 без дымохода
            +available(false, 5)
            p.store__price 5990
            div.store__button
               +card-cart("#")
         li.store__card
            div.store__picbox
               img(alt="котел", src="img/item-7.png").store__pic
            a(href="#").store__name-link Котел стальной Патриот 12,5 без дымохода
            +available()
            p.store__price 3400
            div.store__button
               +card-cart("#")
         li.store__card
            div.store__picbox
               img(alt="котел", src="img/item-8.png").store__pic
            a(href="#").store__name-link Котел стальной Патриот 12,5 без дымохода
            +available()
            p.store__price 3990
               span.store__price-original 5490
            div.store__button
               +card-cart("#")
            div.store__sale
               +discount-badge(30)