.card-cart {
    @include blocksize(34px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-attention-cold;
    border-radius: 3px;
    svg {
        @include blocksize(53%);
        path,
        circle {
            stroke: $color-light;
        }
        circle {
            fill: $color-light;
        }
    }
    &:hover {
        background-color: $color-attention-cold-act;
    }
}