extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include ../blocks/modules/header/header.pug
	//- +card-cart("#", "sds")
	//- +discount-badge("30")
block scripts
	script(src="../js/main.js")