nav.head-nav.container
   div.head-nav__buttons
      a(href="#").head-nav__button Каталог
      a(href="#").head-nav__button.head-nav__button--dark Производители
   ul.head-nav__menu
      li.head-nav__menu-item
         a(href="#").head-nav__menu-link О компании
      li.head-nav__menu-item
         a(href="#").head-nav__menu-link Услуги
      li.head-nav__menu-item
         a(href="#").head-nav__menu-link Акции и скидки
      li.head-nav__menu-item
         a(href="#").head-nav__menu-link Полезная информация
      li.head-nav__menu-item
         a(href="#").head-nav__menu-link Новости
      li.head-nav__menu-item
         a(href="#").head-nav__menu-link Контакты
      li.head-nav__menu-item
         a(href="#").head-nav__menu-link Проверка заказа