.head-nav {
    // @include container();
    display: flex;
    padding: 0;
    &__buttons {
        display: flex;
    }
    &__button {
        @include blocksize(157px, 50px);
        display: flex;
        align-items: center;
        justify-content: center;
        font: 700 15px / 22px $font-condenced;
        color: $color-light;
        text-decoration: none;
        text-transform: uppercase;
        background-color: $color-attention-neutral;
        &:hover {
            background-color: $color-attention-neutral-act;
        }
        &--dark {
            background-color: $color-attention-neutral-hard;
        }
    }
    &__menu {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
        list-style: none;
        font: 700 15px / 22px $font-condenced;
        text-transform: uppercase;
        
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: $color-text-type;
            text-decoration: none;
            &:hover {
                color: $color-attention-warm;
            }
        }
    }
}