.discount-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 44px;
    height: 32px;
    background-color: $color-attention-neutral;
    color: $color-light;
    font: 700 17px $font-condenced;
    padding: 14px 5px 0;
    &::after {
        content: "";
        position: absolute;
        bottom: -36px;
        left: 0;
        border: 22px solid transparent;
        border-top: 14px solid $color-attention-neutral;
    }
}