.catalog
   h1.catalog__title Котлы, котельное оборудование
   div.catalog__sorting
      div.catalog__sorting-item
         p.catalog__sorting-cap Показать сначала:
         ul.catalog__sorting-orders
            li.catalog__sorting-order.catalog__sorting-order--cost Дорогие
            li.catalog__sorting-order.catalog__sorting-order--popular Популярные
      div.catalog__sorting-item
         p.catalog__sorting-cap Выводить по: 
         select.catalog__sorting-select
            option 10
            option 20