.catalog {
    &__title {
        font: 700 30px/40px $font-condenced;
        color: $color-text-hard;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    &__sorting {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 50px;
        margin: 0;
        background-color: $color-bar;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;

        &-item {
            display: flex;
            align-items: center;
        }

        &-cap {
            font: 400 12px/18px $font-sans;
            color: $color-text-secondary;
            margin-right: 15px;
        }

        &-orders {
            display: flex;
            align-items: center;
            list-style: none;
            font: 400 12px/18px $font-sans;
            color: $color-text-hard;
        }

        &-order {
            padding-right: 13px; // для псевдоэлемета
            margin-right: 5px;
        }
    }
}

.store {
    display: flex;
    margin-bottom: 60px;
    
    &__list {
        @include row-flex();
        list-style: none;
    }

    &__card {
        @include col();
        @include size(3);
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 200px;
        min-height: 355px;
        border: 1px solid $color-line;
        border-radius: 3px;
        padding: 30px 20px 20px;
        margin-bottom: 20px;
    }
    &__picbox {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-bottom: 22px;
        width: 148px;
        height: 172px;
    }
    &__pic {
        align-self: center;
        width: auto;
        height: 100%;
    }
    &__name-link {
        font: 700 15px/22px $font-condenced;
        color: $color-text-hard;
        text-decoration: none;
    }
    &__price {
        position: relative;
        font: 700 17px/26px $font-condenced;
        color: $color-text-hard;
        margin-top: auto;
        &::after {
            content: "₽";
            margin-left: 5px;
            right: 0;
        }
        &-original {
            position: absolute;
            text-decoration: line-through;
            color: $color-text-secondary;
            font: 400 12px/22px $font-sans;
            top: -15px;
            left: 0;
        }
    }
    &__button {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
    &__sale {
        position: absolute;
        top: 0;
        right: 20px;
    }
}