.catalog
   h1 Котлы, котельное оборудование
   div
      p Показать сначала
      ul
         li Дорогие
         li Популярные
      p Выводить по: 
      select
         option 10
         option 20