.catalog
   h1.catalog__title Котлы, котельное оборудование
   div.catalog__sorting
      div.catalog__sorting-item
         p.catalog__sorting-cap Показать сначала:
         ul.catalog__sorting-orders
            li.catalog__sorting-order.catalog__sorting-order--cost Дорогие
            li.catalog__sorting-order.catalog__sorting-order--popular Популярные
      div.catalog__sorting-item
         p.catalog__sorting-cap Выводить по: 
         select.catalog__sorting-select
            option 10
            option 20
   section.catalog__store.store
      ul.store__list
         li.store__card
            div.store__picbox
               img(alt="котел").store__pic
            a.store__name-link Котел стальной без дымохода
            p.store__price 5990
            +card-cart
         li.store__card
            div.store__picbox
               img(alt="котел").store__pic
            a.store__name-link Котел стальной без дымохода
            p.store__price 5990
            +card-cart
         li.store__card
            div.store__picbox
               img(alt="котел").store__pic
            a.store__name-link Котел стальной без дымохода
            p.store__price 5990
            +card-cart
         li.store__card
            div.store__picbox
               img(alt="котел").store__pic
            a.store__name-link Котел стальной без дымохода
            p.store__price 5990
            +card-cart
         li.store__card
            div.store__picbox
               img(alt="котел").store__pic
            a.store__name-link Котел стальной без дымохода
            p.store__price 5990
            +card-cart
         li.store__card
            div.store__picbox
               img(alt="котел").store__pic
            a.store__name-link Котел стальной без дымохода
            p.store__price 5990
            +card-cart
         li.store__card
            div.store__picbox
               img(alt="котел").store__pic
            a.store__name-link Котел стальной без дымохода
            p.store__price 5990
            +card-cart
         li.store__card
            div.store__picbox
               img(alt="котел").store__pic
            a.store__name-link Котел стальной без дымохода
            p.store__price 5990
            +card-cart