.pagination {
    display: flex;
    &__list {
        order: 2;
        display: flex;
        list-style: none;
        padding: 0 16px;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:last-child {
            position: relative;
            padding-left: 20px;
            &::before {
                content: "...";
                font-size: 15px;
                color: $color-text-type;
                position: absolute;
                width: 20px;
                height: 5px;
                top: 15px;
                left: 0;
            }
        }
    }
    &__link {
        @include blocksize(50px);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-line;
        border-radius: 3px;
        text-decoration: none;
        color: $color-text-type;
        font: 400 15px $font-sans;
        &:hover:not(&--current) {
            color: $color-attention-cold;
            border-color: $color-attention-cold;
        }
        &:active {
            color: $color-light;
            background-color: $color-attention-cold;
        }
        &--current {
            color: $color-light;
            background-color: $color-attention-cold;
        }
    }
    &__control {
        &-link {
            @include blocksize(50px);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $color-line;
            border-radius: 3px;
            text-decoration: none;
            color: $color-text-type;
            font: 400 15px $font-sans;
            &:hover {
                color: $color-attention-cold;
                border-color: $color-attention-cold;
            }
            &:active {
                color: $color-light;
                background-color: $color-attention-cold;
            }
        }
        &--prev {
            order: 1;
        }
        &--next {
            order: 3;
        }
    }

}