* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.container {
    @include container();
    // @include sm(max-width, 510px);
    // @include md(max-width, 690px);
    // @include lg(max-width, 930px);
    // @include xl(max-width, 1110px);
    @include sm(max-width, 320px);
    @include md(max-width, 576px);
    @include lg(max-width, 768px);
    @include xl(max-width, 992px);
}