.available {
    position: relative;
    padding: 0;
    padding-left: 15px;
    font: 400 12px/22px $font-sans;
    &::before {
        content: "";
        position: absolute;
    }
    &--tr {
        color: $color-attention-neutral;
        &::before {
            background: url("/img/small-tick.png") no-repeat;
            top: 8px;
            left: 0;
            width: 12px;
            height: 8px;
        }
    }
    &--not {
        color: $color-text-secondary;
        &::before {
            background: url("/img/deliver.png") no-repeat;
            top: 7px;
            left: 0;
            width: 11px;
            height: 11px;
        }
    }
}